*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: rgb(203,158,158) no-repeat fixed center;
    background: linear-gradient(90deg, rgba(203,158,158,0.7544059860272234) 
0%, rgba(215,163,84,0.9588877787443102) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

header #titulo {
    text-align: center;
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration:none;
    letter-spacing: 0.4rem;
    color: #355070;
    font-size: 2rem;
    cursor:default;
    font-weight: 600;
}

header h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #355070;
    letter-spacing: 0.2rem;
    cursor:default;
    font-weight: 600;
}

header #contact {
    display: flex;
    justify-content:center;
    list-style-type: none;
    text-align: start;
}

header div a {
    text-decoration:none;
    font-weight: 500;
    color: #355070;
    cursor: pointer;
    margin: 0.2rem;
    border-radius: 0.4rem;
}

a {
    border: 1px solid #355070;
    transition: all 0.4s ease;
    padding:0.4rem;
}

a:hover {
    color: #efefef;
    background-color: #355070;
}

header div a{
    padding: 8px;
}

header div .hola{
    padding: 8px 11px 8px 11px;
}
main {
    width: 95%;
    margin: 1rem auto 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;
}

.flex-item {
    margin: 1rem;
    background: rgb(241,241,241);
    background: linear-gradient(90deg, rgba(241,241,241,0.7544059860272234) 0%, 
    rgba(255,255,255,0.9588877787443102) 100%);
    border-radius: 0.4rem;
    padding: 1rem;
    transition: box-shadow 0.4s ease;
}

.flex-item:hover {
    box-shadow: 6px 4px 3px rgb(197, 196, 196);
}

.flex-item h3 {
    font-weight: 700;
    cursor: default;
}

.flex-item p {
    padding-top: 1rem;
    text-align:left;  
    line-height: 1.5rem; 
    cursor: default;
}

.box3 {
   width: 100%; 
}

.box6 {
    width: 100%;
}

.box9 {
    width: 100%;
}

.accordion-item {
    width: 92%;
    position:relative;
    margin: 1rem auto 0;
}

.accordion-flush .accordion-item {
    border-radius: 0.4rem;
    background: rgb(241,241,241);
    background: linear-gradient(90deg, rgba(241,241,241,0.7544059860272234) 0%, 
    rgba(255,255,255,0.9588877787443102) 100%);
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 0.4rem;
    background: rgb(232, 232, 232);
    background: linear-gradient(90deg, rgba(232, 232, 232, 0.754) 0%, 
    rgba(255,255,255,0.9588877787443102) 100%);
}

.accordion-flush .accordion-item:last-child {
    margin-bottom: 1.5rem;
}

.accordion-header button {
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.accordion-button:not(.collapsed) {
    color:#000;
}